<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="http-log" xsi:type="File" fielName="~/logs/http.txt"/>
    <target name="application-log" xsi:type="File" fileName="~/logs/application.txt"/>
  </targets>
  <rules>
    <logger name="HttpLogger.Logger.HttpTracer" level="Trace" writeTo="http-log" />
    <logger name="HttpLogger.Logger.*" minLevel="Debug" writeTo="application-log" />
  </rules>
</nlog>